<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>
<body>
<h2>Authentification Sécurisée</h2>

<div th:if="${param.error}" style="color: red;">
    Nom d'utilisateur ou mot de passe incorrect.
</div>

<div th:if="${param.logout}" style="color: green;">
    Vous avez été déconnecté avec succès.
</div>

<form th:action="@{/login}" method="post">
    <div>
        <label>Nom d'utilisateur :</label>
        <input type="text" name="username" required autofocus/>
    </div>
    <div>
        <label>Mot de passe :</label>
        <input type="password" name="password" required/>
    </div>
    <button type="submit">Se connecter</button>
</form>
</body>
</html>